$icon-font-path: '../fonts/';

//height global
$global-height:             100vh !default;

//form control
$font-size-control:         16px !default;

//wells
$border-radius-wells:       10px !default;