//width badge
.badge-sm{
    padding: 2px 5px;
    min-width: 20px;
}


//styled badge
.badge-warning{
    background-color: $state-warning-text;
    color: darken($state-warning-text, 50%);
}
.badge-danger{
    background-color: $state-danger-text;
}
.badge-success-dark{
    background-color: $state-success-dark-text;
}
