.card-row{
    @media (min-width: $screen-sm-min){
        margin: 0 -15px;    
    }
    & .card-item-title {        
        margin-top: 0;
    }
    
}
.payments-card {
    width: 270px;
    float: left;
    margin: 0 15px;
    /*@media (min-width: $screen-sm-min) and (orientation: portrait)  {
        width: 400px;
    }*/
    @media (max-width: $screen-xs-max) and (orientation: portrait)  {
        width: 100%;
        margin: 0;
    }
    & .payments-body{
            min-height: 230px;
    &:hover{            
        background-color: #2f4252;
        cursor: pointer;        
        }
        .payments-tx {
    display: block;
    max-height: 60px;
    overflow: hidden;
}
        
    }
    }
